* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  transition: 0.3s;
}

nav.scrolled {
  background: black;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: cyan;
}

.section {
  height: 100vh;
  padding-top: 120px;
  text-align: center;
}

.hero {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.dark {
  background: #111;
  color: white;
}
